<a href="https://colab.research.google.com/github/Jose19-e/POO-PHYTON/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [ ]:
!ls -a

.  ..  .config	sample_data

In [ ]:
print("Hola", "Mundo")

print("Hola" + "Mundo")

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre*2} y estudio {carrera} en la FES Aragón")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es JoséJosé y estudio ICO, la mejor en la FES Aragón

In [ ]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125
division

1.6666666666666667

In [ ]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [ ]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [ ]:
False or False or False

False

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO \"dicen"\: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [ ]:
cita

'Los alumnos de ICO "dicen"\\: "Hola Mundo"'

In [ ]:
def fn_uno():
    print("Hola")

a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
c.__call__()

10
Hola
Hola

In [ ]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: edoardo
Hola edoardo!

In [ ]:
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

Introduce tu edad:22
edoardo tiene 22 años

In [ ]:
#TIPOS DE DATOS
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [ ]:
imaginario

(3+4j)

In [ ]:
frutas = ['limon','aguacate','fresa']
print(frutas[0])
print(frutas[-1])

limon
fresa

In [ ]:
cosas = ['limon',10,3.1416,True,[1,2,3,4],"hola"]
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3, 4], 'hola']

slicing en phyton
[inicio : stop : step]
posibilidad de obteber rebanadas a partir de un tipo de dat, lista o tupla, en general de un iterable. Un tipo de dato String es un iterable
por defecto
 inicio = 0 , stop = tamaño de la variable, step = 1

In [ ]:
ejemplo = [1,2,3,4,5,6,"a","b","c","d","e"]
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [ ]:
rebanada = ejemplo[2:6:1]
print(rebanada)

In [ ]:
frutas_dos = ('Aguacate','Limon','Naranja')
print(frutas_dos)
frutas[1] = 'Piña'
#frutas_dos[1] = 'Piña'

print(frutas[1])
print(frutas_dos[1])
print(frutas_dos[0:2:1])
print(frutas_dos[-1])

('Aguacate', 'Limon', 'Naranja')
Piña
Limon
('Aguacate', 'Limon')
Naranja

#Diccionarios
1. Es un conjunto de pares llave valor
1. Agrupados por ':'
1. La llave siempre es de tipo String
1. El valor puede ser de cualquier tipo
1. El selector de la forma ["llave']
1. mutables
1. Se declara entre los caracteres {'y'}

In [ ]:
alumno = {"numero_cuenta":318088378,"carrera":'ICO',
          'direccion': {"calle" : 'rancho seco', 'numero':12321}
          }
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

12321
cho